IN_DOCKER=true
COAR_NOTIFY_USE_LOCAL=false
COAR_NOTIFY_BASE_URL=http://172.17.0.1:3001/
COAR_NOTIFY_ADMIN_API_TOKEN=

#Solr setting
SOLR_URL_SCHEME=http
SOLR_HOST=solr
SOLR_TEST_HOST=127.0.0.1
SOLR_PORT=8983
SOLR_CORE=hyrax_production
SOLR_TEST_CORE=hyrax_test
SOLR_TEST_PORT=8985

#Valkyrie config
#VALKYRIE_METADATA_ADAPTER=pg_metadata
#VALKYRIE_STORAGE_ADAPTER=versioned_disk_storage

#Database setting
POSTGRES_HOST_APP=appdb
POSTGRES_HOST_FCREPO=fcrepodb
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_APP=hyrax_production
POSTGRES_DB_TEST=hyrax_test
POSTGRES_DB_FCREPO=fcrepo

#Redis setting
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
HYRAX_ACTIVE_JOB_QUEUE=sidekiq
REDIS_URL=redis://redis:6379/1

#http://fcrepo:8080/rest
#Fedora setting
FEDORA_URL_SCHEME=http
FEDORA_HOST=fcrepo
FEDORA_PORT=8080

FCREPO_ENDPOINT=hyrax_production # Optional - default is production
#FCREPO_PATH is Optional - default is /fcrepo/rest
FCREPO_PATH=/rest
FCREPO_VERSION=4.7.5
FCREPO_DEVELOPMENT_PORT=8080
FEDORA_TEST_PORT=8080

#RAILS setting
LANG=C.UTF-8
PORT=3000
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
RAILS_MAX_THREADS=5

#The secrect key should be a very long random key.
#You can use "$ bundle exec rails secret" to generate one.
SECRET_KEY_BASE_PRODUCTION=someverylongkeyisneeded
DEVISE_SECRET_KEY=anotherverylongkey

#used for production
RAILS_FORCE_SSL=false

#Matomo analytics setting for the application
HYRAX_ANALYTICS=false


#Hyrax application setting
HOST_APP_DATA_PATH=/data/
DERIVATIVES_PATH=/shared/derivatives/
FITS_PATH=/fits/fits-1.5.5/fits.sh
FITS_VERSION=1.5.5
UPLOADS_PATH=/shared/uploads/
CACHE_PATH=/shared/cache/
BRAND_PATH=/data/public/branding
DEFAULT_DATE_FORMAT=%Y-%m-%d
NOTIFICATIONS_EMAIL_DEFAULT_FROM_ADDRESS=no-reply@mailboxer.com
USER_MANAGEMENT_EMAIL_FROM_ADDRESS=repo-admin@example.org
CONTACT_FORM_SUBJECT_PREFIX='Hyrax Contact form:'
CONTACT_EMAIL=
FROM_EMAIL=
SMTP_PASS=
GEONAMES=ar_cl_geo
IIIF_SEARCH_ENDPOINT=
CONFIG_IIIF_IMAGE_ENDPOINT=

#If the rails server is configured to serve requests in https, set this to true
IIIF_TO_SERVE_SSL_URLS=false
CRC_FOLDER_IMPORT_PATH=/home/developer/rub-test-data

#Browse Everything credentials
USE_BROWSE_EVERYTHING=false
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=

#Host used for generating URL
APP_HOST=localhost:3000

#APPLICATION_URL should not have trailing slash
APPLICATION_URL=http://localhost:3000


#S3 settings
USE_S3=false

# # Derivatives s3 storage adapter config
# DERIVATIVES_STORAGE_ADAPTER=derivatives_disk
# S3_FILE_DERIVATIVES_BUCKET=cl-gyan-hyrax5-derivatives
# HYRAX_DERIVATIVES_PATH=/shared/derivatives/

# # Branding s3 storage adapter Config
# BRANDING_STORAGE_ADAPTER=branding_s3
# S3_FILE_BRANDING_BUCKET=cl-gyan-hyrax5-branding

# #Valkyrie config
# VALKYRIE_STORAGE_ADAPTER=repository_s3
# S3_INITIAL_FILE_UPLOAD_BUCKET=cl-gyan-hyrax5-initial-uploads
# S3_FILE_UPLOAD_BUCKET=cl-gyan-hyrax5-uploads

# OLD_S3_BUCKET_PREFIX=gyan-hyrax-5

# #--- S3 - CEPH ---
# S3_ENDPOINT=https://s3.ruhr-uni-bochum.de
# S3_ACCESS_KEY=WPED66V2NJWXOEK6E2YV
# S3_SECRET_KEY=WuowoCFdlQI8RHAOpqG0ORwwVOjJahfbCJk4jCce
# S3_REGION=rub-zg
# #--- S3 - ECS ---
# # S3_ENDPOINT=https://ecs.fds.it-services.ruhr-uni-bochum.de
# # S3_ACCESS_KEY=antleaf
# # S3_SECRET_KEY=3nAWx30Ro+tRXnpSShZkFnXsDnBW59rWIbYRhBN4
# # S3_REGION=standard
# S3_EXPIRY= 1 # in days

#File uploads
RUBY_THREAD_MACHINE_STACK_SIZE=8388608
RUBY_THREAD_VM_STACK_SIZE=8388608
MAX_FILES=10
MAX_FILE_SIZE=15000000000
ALLOWED_FILE_EXTENSIONS=gif|jpe?g|png|pdf|docx

#Login settings
#---- SAML Login
USE_SAML=true
SAML_SP_ID=https://rdms.cottagelabs.com/
SAML_IDP_SERVICE_URL=https://samltest.id/saml/idp
SAML_IDP_SSO_SERVICE_URL=https://samltest.id/idp/profile/SAML2/Redirect/SSO
SAML_IDP_CERT=
SAML_SP_CERTIFICATE=
SAML_SP_CERTIFICATE_KEY=
SAML_ATTRIBUTE_UID=urn:oasis:names:tc:SAML:attribute:pairwise-id
SAML_ATTRIBUTE_NAME=urn:mace:dir:attribute-def:displayName
SAML_ATTRIBUTE_EMAIL=urn:mace:dir:attribute-def:mail
SAML_ATTRIBUTE_ROLE=urn:mace:dir:attribute-def:eduPersonAffiliation

#If Authorization is restricted, only users with affiliation=staff are allowed access
SAML_RESTRICT_AUTHORIZATION=true

#---- ORCID client credentials
USE_ORCID=true
ORCID_CLIENT_ID=APP-ILRPC75BW4
ORCID_CLIENT_SECRET=1298c0a0-843b-4ce0-b998-b71905a88f7b
ORCID_MEMBER=false
ORCID_SANDBOX=true
ORCID_RESTRICT_AUTHORIZATION=true

#DOI
REGISTER_DOI=true
DOI_URL=https://api.test.datacite.org/dois
DOI_USERNAME=RXCI.RDMSTEST
DOI_PASSWORD=Di1PfRT!
DOI_PREFIX=10.82491

#ARK
REGISTER_ARK=true
ARK_ENDPOINT=https://ark-test.rd.rub.de/
ARK_USERNAME=anusha@cottagelabs.com
ARK_PASSWORD=tKnZ9QGPwCnM6nJx9cte78PHJG4yf5
ARK_NAMESPACE=cldev

#ARK name assigning authority number
ARK_NAAN=99999

#Download
DOWNLOAD_FILES_SIZE_LIMIT=10000000
DOWNLOAD_FILES_COUNT_LIMIT=10000
DOWNLOAD_PATH=/downloads
#System user with role admin
SYSTEM_ADMINISTRATOR=admin@hyrax
