<% content_for :title, "Register Notify Inbox" %>

<h1>Register Notify Inbox</h1>

<%= render "form", notify_inbox: @notify_inbox %>

<br>

<div>
  <%= link_to "Back to notify inboxes", notify_inboxes_path %>
</div>
